<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/main.css">
    <title>Calculadora</title>
</head>

<body>
<div id="app">
    <div class="preloader">
        <img src="LOGO LOJA" alt="NOME DA LOJA">
        </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Calculadora de média</h1>
                <form action="">
                    <label for="nome">Nome do aluno</label>
                    <input class="nome input" type="text" name="nome" v-model="nomeAluno">
                    
                    <div class="provas">
                        <div class="provas__item prova__um" v-if="nomeAluno != null">
                            <label for="prova01">1° prova</label>
                            <input class="nota input" type="number" step="0.01" min="0" max="10" name="prova01" v-model="NotaPrimeira">
                        </div>
                        <div class="provas__item prova__dois" v-if="NotaPrimeira != null">
                            <label type="number" for="prova02">2° prova</label>
                            
                            <input class="nota input" type="number" step="0.01" min="0" max="10" name="prova02" v-model="NotaSegunda">
                        </div>
                    </div>
                    
                    
                    
                    
                    <div class="nota_necessaria_container" v-if="NotaPrimeira != null && NotaSegunda != null">
                        <label type="number" for="necessaria">Nota necessária para aprovar</label>
                        <input class="nota input" type="number" step="0.01" readonly name="necessaria" v-model="Notanecessaria">
                    </div>
                    
                    <!-- <label for="prova03">Prova 3</label>
                    <input type="number" min="0" max="10" name="prova03" v-model="NotaTerceira"> -->
                </form>
            </div>
            <div class="col-6">

                <div class="usuario">
                    <img src="https://corgi.photos/200/200" alt="User">
                    <h2>Bem vindo</h2>
                    <span>{{usuario}}</span>
                </div>
                <section class="debug" id="desenvolvedor">
                    <div class="desenvolvedor__switch">
                        <label for="debug">Modo desenvolvedor</label>
                        <label class="switch">
                            <input name="debug" v-model="debug" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="debug__area" v-if="debug">
                        <h2>DEBUG AREA</h2>
                        <br>
                        <span>Nome: <template v-if="nomeAluno != null">{{nomeAluno}}</template><template v-else> Aguardando entrada</template></span>
                        <br>
                        <span>Status: {{status}}</span>
                        <br>
                        <span>Nota 1: <template v-if="NotaPrimeira != null">{{NotaPrimeira}}</template><template v-else> Aguardando entrada</template> </span>
                        <br>
                        <span>Nota 2: <template v-if="NotaSegunda != null">{{NotaSegunda}}</template><template v-else> Aguardando entrada</template></span>
                        <br>
                        <span>Nota necessária: <template v-if="NotaSegunda != null">{{Notanecessaria}}</template><template v-else> Aguardando entrada</template> </span>
                        <br>
                        <span>Média : <template v-if="NotaSegunda != null">{{media}}</template><template v-else> Aguardando entrada</template></span>
                    </div>
                </section>
            </div>
        
        </div>
        <span id="resultado" v-bind:class="{ aprovado: StatusBol,reprovado : StatusBol == false }" v-if="NotaPrimeira != null && NotaSegunda != null">
            {{resultado}}
        </span>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="assets/main.js"></script>

</html>