@import "switch";
@import "preloader";
body {
  #app {
    height: 100%;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  margin: 0;
  background: url('bg.jpg') no-repeat center center;
  background-size: cover;
  @media (min-width: 768px) { 
    overflow: hidden;
  }
}
.inicial {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #000000c2;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__items {
    width: 40%;
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    text-align: center;
  }
}
.container {
  width: 50vw;
  height: 80vh;
  @media (max-width: 768px) { 
    width: 90vw;
    height: auto;
    margin: 1em 0;
  }
  background-color: #f4f4f4;
  border-radius: 5px;
  position: relative;
  .row {
    padding: 1em;
    display: flex;
    @media (max-width: 768px) {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
    .col-6 {
      .usuario {
        background-color: white;
        border-radius: 5px;
        padding: 1em;
        margin-bottom: 10px;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
        display: flex;
        img{
          width: 70px;
          height: 70px;
          border-radius: 50%;
        }
        h2{
          margin-left: 1em;
        }
      }

      width: 100%;
      @media (min-width: 768px) {
        width: 50%;
        padding: 1em;
      }
      .provas {
        display: flex;
        margin-top: 1em;
        &__item.prova__dois {
          margin-left: 30px;
        }
      }
      label {
        margin-bottom: 10px;
        display: block;
      }

      .nota_necessaria_container {
        margin-top: 20px;
      }
    }
  }
  #resultado {
    position: absolute;
    border: 0;
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    @media (max-width: 768px) { 
      font-size: 20px;
    }
    &.aprovado {
      background-color: rgb(18, 22, 252);
      color: white;
    }
    &.reprovado {
      background-color: red;
      color: white;
    }
  }
}
.input {
  width: 90%;
  padding: 0.5em;
  border-radius: 5px;
  border: 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  appearance: none;
  padding: 1em;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  &.nota {
    width: 5ch;
    text-align: center;
  }
}

.desenvolvedor{
  &__switch{
    display: flex;
    align-items: baseline;
    .switch{
      margin-left: 1em;
    }
  }
}

.debug{
  transition: 0.2s cubic-bezier(.86,0,.07,1);
  margin-top: 1.8em;
  &__area{
    padding: 1em;
    border-radius: 5px;
    border: 0;
    background: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
}
form{
  @media (max-width: 768px) { 
    margin-bottom: 10vh;
  }
}