body {
  #app {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  background: url('bg.jpg') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.container {
  width: 75vw;
  height: 80vh;
  background-color: #f8f8f8;
  border-radius: 5px;
  .row{
      padding: 1em;
      .col-6{
          @media (min-width: 768px) { 
              width: 50%;
              padding: 1em;
          }
      }
  }
}
